
h1{
    width: 100%;
    font-size: 60px;
    background-color:  rgb(56, 56, 56);
    text-align: center;
    padding: 40px 0 40px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: ivory;
    margin: 0 auto;

}
h2{
    font-size: 20px;
    font-weight: bolder;
}
body{
    background-image: url(../images/crystals.jpg);
    background-size: 2150px 1200px;
    
}
.directions{
    background: ivory;
    padding: 20px 0 20px 20px;
    margin-right: 1550px;
    margin-top: 30px;
    line-height: 20px;

}
.crystals{
    position: relative;
    float: right;
	display: flex;
	justify-content: space-around;
    align-items: center;
    bottom: 200px;
    right: 600px;
    margin: 10px;
}

.crystal{
	border:1px solid ivory;
	height:200px;
	width: 200px;
	border-radius: 4px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    margin: 10px;
    background-size: 200px 210px;
}

.crystal:hover{
    box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.5);
    border: lightcoral solid;
    height: 210px;
    width: 210px;
	cursor: pointer;
	
}


#result{
    background-color: lightcoral;
    margin: 10px 1750px 10px 0;
    padding-left: 20px;
    font-size: 30px;
    font-weight: bolder;

}
#previous{
    background-color: lightcoral;
    margin: 10px 1750px 10px 0;
    padding-left: 20px;
    font-size: 30px;
    font-weight: bolder;

}
#win{
    background-color: teal;
    margin: 10px 1750px 10px 0;
    padding-left: 20px;
    font-size: 30px;
    font-weight: bolder;
}
#lost{
    background-color: teal;
    margin: 10px 1750px 10px 0;
    padding-left: 20px;
    font-size: 30px;
    font-weight: bolder;
}
#container{
    padding-left: 10px;
    width: 2000px;
}